<GridLayout rows="100, *, 100" columns="*" class="bg-container">
  <AbsoluteLayout row="0" col="0" class="text-placeholder">
    <Label #placeholderText Text="Mod hvem?"></Label>
  </AbsoluteLayout>
  <ListView #listContainer row="1" col="0" class="list-container" [items]="friends">
    <template let-friend="item" let-i="index">
      <GridLayout columns="auto, *" class="item-container" (tap)="onFriendTap(friend)">
        <StackLayout col="0" class="item-picture-container">
          <Image [src]="friend.profilePicture" class="item-picture"></Image>
        </StackLayout>
        <StackLayout col="1" class="item-label-container">
          <Label [text]="friend.name" class="item-label"></Label>
        </StackLayout>
      </GridLayout>
    </template>
  </ListView>
  <GridLayout row="2" col="0" rows="*" columns="*, 100" *ngIf="choosenFriend!==null">
    <Label row="0" col="0" class="choosen-name" [text]="choosenFriend.name"></Label>
    <Button row="0" col="1" class="next-button" Text="»" (tap)="onGoToBet()"></Button>
  </GridLayout>
</GridLayout>