.bg-container {
    background-color: #FFB92D;
}

.text-placeholder {
    font-size: 26;
    font-weight: bold;
    text-align: left;
    color: #fff;
    opacity: 0.5;
    z-index: 10;
    margin-top: 24;
    margin-left: 30;
}

.list-container {
    background-color: #FFB92D;
}

.odd {
    color: white;
}
.even {
    color: black;
}
