.bg-container {
    background-color: #FFB92D;
}

.text-placeholder {
    font-size: 26;
    font-weight: bold;
    text-align: left;
    color: #fff;
    opacity: 0.5;
    z-index: 10;
    margin-top: 24;
    margin-left: 30;
}

ListView {
    separator-color: transparent;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-top-color: #d69719;
    border-top-width: 2;
}

.item-container {
    padding: 15 30;
    border-bottom-color: #d69719;
    border-bottom-width: 2;
    background-color: #FFB92D;
}
.item-picture-container {

}
.item-picture {
    width: 50;
    height: 50;
    border-radius: 25%;
    border-color: #fff;
    border-width: 1;
}
.item-label-container {
    padding: 12 20 0 20;
}
.item-label {
    font-size: 20;
}

.choosen-name { 
    background-color: #30292F;
    color: #fff;
    border-radius: 20;
    width: auto;
    padding: 6 20 10 20;
    margin: 20 0 20 20;
    font-weight: bold;
    font-size: 20;
}

.next-button {
    background-color: #30292F;
    color: #fff;
    border-radius: 20;
    width: auto;
    horizontal-align: right;
    padding: 6 20 10 20;
    margin: 20;
    font-weight: bold;
    font-size: 30;
}