<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>262552670676-gh5ali405fnuj706esec0mhvke4r7ehr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262552670676-gh5ali405fnuj706esec0mhvke4r7ehr</string>
	<key>API_KEY</key>
	<string>AIzaSyB155ijSpPRwkjdB6eu2R1P1Niy1coD83c</string>
	<key>GCM_SENDER_ID</key>
	<string>262552670676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.letsbet.app</string>
	<key>PROJECT_ID</key>
	<string>letsbet-87620</string>
	<key>STORAGE_BUCKET</key>
	<string>letsbet-87620.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:262552670676:ios:83fdff17dd984b17</string>
	<key>DATABASE_URL</key>
	<string>https://letsbet-87620.firebaseio.com</string>
</dict>
</plist>